# DATABASE_URL = "postgresql://postgres:root@localhost:5434/organizationmanagement"
DATABASE_URL = "postgresql://postgres.jzmoobwondfapqdzmbug:9HvyYfSnlFefZ6nN@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
# DATABASE_URL=postgresql://postgres:9HvyYfSnlFefZ6nN@db.jzmoobwondfapqdzmbug.supabase.co:5432/postgres

DOCUMENT_PATH = "backend/uploaded_docs"

user=postgres.jzmoobwondfapqdzmbug 
password= 9HvyYfSnlFefZ6nN
host=aws-1-ap-southeast-1.pooler.supabase.com
port=5432
dbname=postgres

TEMP_DIR = "backend/temp"
PROJECT_SUCCESS_DIR = "backend/uploaded_docs/app_docs/pmo"
PROJECT_FAILED_DIR = "backend/temp"

REVENUE_SUCCESS_DIR = "backend/uploaded_docs/app_docs/revenue"
REVENUE_FAILED_DIR = "backend/temp"

PROJECT_DOCUMENT_DIR = "backend/uploaded_docs/project_docs"

SUPPORTED_DOC_TYPE_EXTENSIONS = ['.pdf', '.pptx', '.xlsx', '.xls', '.docx', '.doc']

LLAMA_CLOUD_API_KEY = ""
